@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --gradient-blue-purple: linear-gradient(132deg, #0034AC 0%, #67318E 100%);
  --gradient-red-orange: linear-gradient(132deg, #E04733 0%, #FF6B1C 100%);
  --gradient-dark: linear-gradient(180deg, #0C0C0C 0%, #292929 100%);
}

body {
  background-image: var(--gradient-dark);
  @apply text-white;
}

.szn-scroll, .szn-value-bar, .szn-header, .szn-footer, .szn-instructions {
  @apply mx-auto mb-8;
}

.szn-value-bar, .szn-header, .szn-footer, .szn-grid, .szn-instructions  {
  margin: 0 12rem !important;
}

.szn-scroll {
  @apply overflow-x-scroll overflow-y-hidden;
}

.szn-header {
  margin-top: 12rem !important;
  @apply flex flex-col justify-center w-full py-24 mb-16 gap-y-2;
}

.szn-header__title {
  @apply text-5xl text-white lg:text-6xl xl:text-6xl font-display;
}

.szn_header__subtitle {
  @apply text-2xl text-white font-body;
}

.szn-header__skyline {
  top: 32px;
  @apply absolute right-0;
}

.szn-value-bar {
  @apply flex items-center justify-between pt-12 pb-4 mb-4 rounded-sm;
}

.szn-value-bar__title {
  @apply flex items-center;
}

.szn-value-bar__title__text {
  @apply text-lg font-medium font-display;
}

.szn-value-bar__title__subtext {
  @apply hidden font-body;
}

.szn-value-bar__cost {
  @apply text-lg font-medium font-display text-green;
}

.szn-grid {
  @apply grid grid-cols-5 py-4 gap-x-4;
}

.szn-heading {
  @apply relative flex items-center justify-center h-12 mb-8 text-xl font-bold text-black bg-white rounded-sm font-display;
}

.szn-heading::after {
  content: "";
  background-image: var(--gradient-blue-purple);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 4px;
}

.szn-topic-col {
  @apply grid gap-y-4;
}

.szn-topic {
  @apply flex items-center justify-center p-4 text-lg font-bold text-black bg-white rounded-sm lg:text-xl xl:text-xl;
}

.szn-topic {
  height: 120px;
  @apply relative;
}

.szn-instructions {
  @apply relative;
}

.szn-topic::after, .szn-instructions::after {
  content: "";
  background-image: var(--gradient-red-orange);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 4px;
}

.szn-topic > span {
  @apply text-center;
}

.szn-topic--active {
  @apply text-white bg-black border-2 border-white border-solid;
}

.szn-footer {
  @apply flex items-center justify-between h-24 mt-16 text-white font-display;
}

.szn-footer__heading {
  @apply text-left;
}

.szn-footer__subtitle {
  @apply text-right;
}

.szn-button {
  right: 0;
  margin: 1rem;
  bottom: 0;
  @apply fixed w-24 h-24 text-black bg-white border-4 border-black border-solid rounded-full shadow-xl font-display;
}

@media(max-width: 1140px) {
  .szn-value-bar, .szn-header, .szn-footer, .szn-grid {
    margin-left: 12rem !important;
    margin-right: 12rem !important;
  }  
}

@media(max-width: 1080px) {
  .szn-value-bar, .szn-header, .szn-footer, .szn-grid, .szn-instructions {
    margin-left: 8rem !important;
    margin-right: 8rem !important;
  }
  .szn-instructions {

  }
}

@media(max-width: 720px) {
  .szn-grid {
    min-width: calc(260px * 5);
  }
  .szn-value-bar, .szn-header, .szn-footer, .szn-grid, .szn-instructions {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }
}
