@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --gradient-blue-purple: linear-gradient(132deg, #0034AC 0%, #67318E 100%);
  --gradient-red-orange: linear-gradient(132deg, #E04733 0%, #FF6B1C 100%);
  --gradient-dark: linear-gradient(180deg, #0C0C0C 0%, #292929 100%);
  --color-active: hsl(31 96% 86% / 1);
  --color-defocus: hsl(0 0% 80% / 1);
}

body {
  background-image: var(--gradient-dark);
  @apply text-white;
}

.szn-scroll, .szn-sticky-bar, .szn-header, .szn-footer, .szn-instructions, .szn-skyline {
  @apply mx-auto mb-8;
}

.szn-sticky-bar, .szn-header, .szn-footer, .szn-grid, .szn-instructions, .szn-skyline  {
  margin: 0 12rem !important;
}

.szn-scroll {
  @apply overflow-x-scroll overflow-y-hidden;
}

.szn-header {
  margin-top: 12rem !important;
  @apply flex flex-col justify-center py-24 mb-16 gap-y-2;
}

.szn-header__title {
  @apply text-5xl text-white lg:text-6xl xl:text-6xl font-display;
}

.szn_header__subtitle {
  @apply text-2xl text-white font-body;
}

.szn-header__skyline {
  top: 32px;
  @apply absolute right-0;
}

.szn-value-bar {
  background: hsl(0 0% 18% / 1);
  padding: 2rem;
  z-index: 10;
  border: 2px solid white;
  margin-bottom: 1rem !important;
  @apply flex items-center justify-between rounded-sm;
}

.szn-value-bar__title {
  @apply flex items-center;
}

.szn-value-bar__title__text {
  @apply text-lg font-medium font-display;
}

.szn-value-bar__title__subtext {
  @apply hidden font-body;
}

.szn-value-bar__cost {
  @apply text-lg font-medium font-display text-green;
}

.szn-submit-button {
  background-image: var(--gradient-red-orange);
  padding: 1rem 4rem;
  @apply w-full rounded-sm uppercase font-display tracking-wider;
}

.szn-grid {
  @apply grid grid-cols-5 py-6 gap-x-4;
}

.szn-heading {
  background-color: var(--color-defocus);
  @apply relative flex items-center justify-center h-12 mb-8 text-xl font-bold text-black rounded-sm font-display;
}

.szn-heading::after {
  content: "";
  background-image: var(--gradient-blue-purple);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 4px;
}

.szn-topic-col {
  @apply grid gap-y-4;
}

.szn-topic {
  height: 120px;
  min-width: 100px;
  @apply relative flex items-center justify-center p-4 text-lg font-bold text-black bg-white rounded-sm lg:text-xl xl:text-xl;
}

.szn-instructions {
  background-color: var(--color-defocus);
  margin-bottom: 4rem !important;
  @apply relative;
}

.szn-topic::after, .szn-instructions::after {
  content: "";
  background-image: var(--gradient-red-orange);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 4px;
}

.szn-topic > span {
  @apply text-center;
}

.szn-topic--active {
  background-color: var(--color-active);
}

.szn-skyline {
  margin-bottom: 6rem !important;
  @apply relative py-8;
}

.szn-skyline__title {
  @apply font-display text-2xl tracking-wider mb-4;
}

.szn-skyline__wave {
  z-index: -1;
}

.szn-skyline__post-card {
  max-width: 100%;
  border: 3px solid white;
  border-radius: 2px;
}

.szn-skyline__holder {
  @apply relative;
}

.szn-skyline__holder__button {
  box-shadow: 2px 4px 16px hsla(0 0% 90% / .1);
  margin: 1.25rem;
  background: hsla(0 0% 0% / .4);
  border-radius: 2px;
  padding: .5rem;
  @apply h-12 w-12 absolute bottom-0 right-0;
}

.szn-skyline__holder-mask {
  background-color: hsl(0 0% 0% / 0.80);
  @apply absolute flex items-center justify-center left-0 top-0 h-full w-full;
}

.szn-skyline__holder-mask__heading {
  width: 22ch;
  @apply font-display text-xl text-center;
}

.szn-footer {
  @apply flex items-center justify-between h-24 mt-16 text-white font-display;
}

.szn-footer__heading {
  @apply text-left;
}

.szn-footer__subtitle {
  @apply text-right;
}


@media(max-width: 1080px) {
  .szn-sticky-bar, .szn-header, .szn-footer, .szn-grid, .szn-instructions, .szn-skyline {
    margin-left: 8rem !important;
    margin-right: 8rem !important;
  }
}

@media(max-width: 880px) {
  .szn-sticky-bar, .szn-header, .szn-footer, .szn-grid, .szn-instructions, .szn-skyline {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }
}

@media(max-width: 720px) {
  .szn-sticky-bar {
    position: sticky;
    top: .5rem;
    z-index: 100;
  }
  .szn-value-bar, .szn-submit-button {
    box-shadow: 2px 2px 8px hsl(0 0% 25% / 1);
  }
  .szn-grid {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  .szn-sticky-bar, .szn-header, .szn-footer, .szn-grid, .szn-instructions, .szn-skyline {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}

.shaker {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.fade-drop-in {
  animation: fadeDropIn 350ms cubic-bezier(.445,.05,.55,.95);
}

@keyframes fadeDropIn {
  0% {
      top: -10px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}