@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --gradient-blue-purple: linear-gradient(132deg, #0034AC 0%, #67318E 100%);
  --gradient-red-orange: linear-gradient(132deg, #E04733 0%, #FF6B1C 100%);
  --gradient-dark: linear-gradient(180deg, #0C0C0C 0%, #292929 100%);
}

body {
  background-image: var(--gradient-dark);
  @apply text-white;
}

.szn-scroll, .szn-value-bar, .szn-header, .szn-footer {
  @apply mx-auto pb-8;
}

.szn-value-bar, .szn-header, .szn-footer, .szn-grid  {
  padding: 0 8rem !important;
}

.szn-scroll {
  @apply overflow-x-scroll overflow-y-hidden;
}

.szn-header {
  padding-top: 12rem !important;
  padding-bottom: 4rem !important;
  @apply flex gap-y-2 w-full flex-col justify-center mb-16 py-24;
}

.szn-header__title {
  @apply text-5xl lg:text-6xl xl:text-6xl text-white font-display;
}

.szn_header__subtitle {
  @apply text-2xl text-white font-body;
}

.szn-header__skyline {
  top: 32px;
  @apply absolute right-0;
}

.szn-value-bar {
  @apply flex items-center justify-between rounded-sm py-4 mb-4;
}

.szn-value-bar__title {
  @apply flex items-center;
}

.szn-value-bar__title__text {
  @apply text-lg font-display font-medium;
}

.szn-value-bar__title__subtext {
  @apply hidden font-body;
}

.szn-value-bar__cost {
  @apply text-lg font-display font-medium text-green;
}

.szn-grid {
  @apply grid grid-cols-5 py-4 gap-x-4;
}

.szn-heading {
  @apply h-12 relative text-black font-display font-bold bg-white rounded-sm text-xl items-center justify-center flex mb-8;
}

.szn-heading::after {
  content: "";
  background-image: var(--gradient-blue-purple);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 4px;
}

.szn-topic-col {
  @apply grid gap-y-4;
}

.szn-topic {
  height: 100px;
  min-width: 100%;
  @apply flex relative bg-white text-black font-bold items-center justify-center rounded-sm p-4 text-lg lg:text-xl xl:text-xl;
}

.szn-topic::after {
  content: "";
  background-image: var(--gradient-red-orange);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 4px;
}

.szn-topic > span {
  @apply text-center;
}

.szn-topic--active {
  @apply bg-black text-white border-2 border-solid border-white;
}

.szn-footer {
  @apply h-24 mt-16 text-white flex items-center justify-between font-display;
}

.szn-footer__heading {
  @apply text-left;
}

.szn-footer__subtitle {
  @apply text-right;
}

.szn-button {
  right: 0;
  margin: 1rem;
  bottom: 0;
  @apply bg-white h-24 w-24 font-display rounded-full fixed text-black shadow-xl border-4 border-black border-solid;
}

@media(max-width: 920px) {
  .szn-grid {
    min-width: calc(260px * 5);
  }
  .szn-value-bar, .szn-header, .szn-footer, .szn-grid {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}
